/*!---------------------------- Variables -------------------------*/
/*!------------------- Main Colors ---------------*/
$primary-color: #17924e;
$primary-color-dark: #17924ed1;
$main-white-font-color: white;
$main-white-border-color: white;
$gray-background-btn: rgba(255, 255, 255, 0.25);
$gray-background-btn-lighter: rgba(255, 255, 255, 0.33);
$default-width: 75vw;
$default-transition: all 0.4s ease-out;
/*!------------------- Main Font ---------------*/
$main-font: 1.3rem;
$sec-font: 1.2rem;
